/* heading and background image */
#faq-page {
    background: url("../images/FAQ/banner-with-overlay.jpg") no-repeat center;
    background-size: cover;
    
}

/* accordation */
.card {
    border: 1px solid #d1d1d1;
}

.btn-link {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    color: #333333;
}

/* plus image */
.plus {
    position: absolute;
    right: 1rem;
}

.card-header.active{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.card-header {
    border-bottom: 1px solid rgba(0,0,0,0);
    padding: 10px;
}

.card-body {
    padding: 0 0 10px 20px;
}

.accordion {
    margin-bottom: 20px;
}

/* headings */
.title {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
    margin: 20px 0 10px 0;
}

#heading h3 {
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
    color: #fff;
    padding: 120px 0 60px 0;
}

#footer ul.social-list li a {
    color: #fff;
    border: 1px solid #6255a5;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    border-radius: 50%;
    background: #6255a5;
    text-align: center;
    
}

#footer ul.social-list li img {
    margin-top: 8px;
}

ul.social-list {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 5px;
}

ul.social-list li {
    display: inline-block;
    margin-right: 3px;
}

footer {
    padding: 20px;
}

#footer p {
    margin-top: 10px;
}

/* navigation */
.navbar {
    padding: 0 100px;
}

.navbar-brand {
    padding: 13px 0;
}

ul.navbar-nav > li > a {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
    padding: 0 30px;
    margin: 13px 8px;
}

/* logout button */
#login a{
    background: #6255a5;
    width: 89px;
    height: 30px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
    padding: 3px;
}

/* white bar */
.white-nav-top {
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
    z-index: 2;
}