html,
body {
    height: 100%;
}

#banner {
    position: fixed;
    background-size: cover;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
}

#signup {
    background-color: #fff;
    width: 500px;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(15%);
    padding: 50px;
    border-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: "Open Sans", sans-serif;
}

#signup h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 38px;
    color: #6255a5;
}

#signup p {
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    color: #333333;
    margin-bottom: 45px;
}

.form-group {
    text-align: left;
    margin-bottom: 30px;
}

#signup-button a {
    
    background: #6255a5;
    width: 400px;
    height: 35px;
    border-radius: 3px;
    color: #fff;
    font-style: "Open Sans";
    font-size: 18px;
    line-height: 18px;
}

h6 {
    text-align: center;
    transform: translateY(100px);
}

.eye {
    position: absolute;
    transform: translateY(-27px) translateX(365px);
    width: 22px;
}

#footer p {
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    color: #333333;
    margin-top: 20px;
}