
#my-rejected-page {
    margin-top: 90px;
}

#title {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-bottom: 20px;
}

input {
    border: 1px solid #d1d1d1;
    height: 35px;
}

::-webkit-input-placeholder {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #8a8a8a;
    padding: 40px;
}

#search-bar-button {
    position: relative;
}

.search {
    position: absolute;
    left: 45%;
    top: 10px;
}

#search-bar-button a {
    background: #6255a5;
    width: 117px;
    height: 35px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 22px;
    padding: 5px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: 10px;
    margin-bottom: 6px;
}

.table {
    border: 1px solid #d1d1d1;
}

.note-title {
    color: #6255a5;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    line-height: 20px;
}
.table th {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
    text-transform: uppercase;
}

.clone {
    color: #6255a5;
}

.table tr:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)
}

/* pagination */
ul.pagination li a{
    border: #fff;
    text-decoration: none;
    width: 34px;
    height: 34px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

ul.pagination {
    justify-content: center;
}

ul.pagination li{
    padding: 5px;
}
ul.pagination li.active a{
    text-decoration: none;
    width: 34px;
    height: 34px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 50%;
    
}

.page-item.active .page-link {
    background-color: #6255a5;
}


li.left-arrow {
    margin-right: 15px;
}

li.right-arrow {
    margin-left: 15px;
}

ul.pagination li a:hover {
    border-radius: 50%;
}

/* footer */
#footer ul.social-list li a {
    color: #fff;
    border: 1px solid #6255a5;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    border-radius: 50%;
    background: #6255a5;
    text-align: center;
    
}

#footer ul.social-list li img {
    margin-bottom: 8px;
}

ul.social-list {
    list-style: none;
    text-align: right;
    padding: 0;
    margin: 5px;
}

ul.social-list li {
    display: inline-block;
    margin-right: 3px;
}

footer {
    padding: 20px;
}

#footer p {
    margin-top: 10px;
}

/* navigation */
.navbar {
    padding: 0 100px;
}

.navbar-brand {
    padding: 13px 0;
}

ul.navbar-nav > li > a {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    color: #333333;
    padding: 0 30px;
    margin: 13px 8px;
}

/* logout button */
#logout a{
    background: #6255a5;
    width: 89px;
    height: 30px;
    border-radius: 3px;
    color: #fff;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 22px;
    padding: 3px;
}

/* white bar */
.white-nav-top {
    background: #fff;
    -webkit-box-shadow: 0 8px 6px -9px #999;
    box-shadow: 0 8px 6px -9px #999;
}

/* dropdown */
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
    
}

.btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
}

.btn-secondary {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-menu a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #333333;
    margin: 10px 0;
}

.dropdown-menu {
    border: #d1d1d1;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 0;
}

a.button {
    color: #6255a5;
    text-transform: uppercase;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
    background: #6255a5;
    color: #fff;
}
