html,
body {
    width: 100%;
    height: 100%;
}

.member-heading h4{
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin: 60px 0 20px 0;
}

.member-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
    height: 130px;
}
 
.left-list,
.right-list{
    margin-top: 0px;
    display: inline-block;
}

.right-part {
    margin-left: 20px;
}

.link {
    color: #6255a5;
}

.vl {
    border: 1px solid #d1d1d1;
    height: 162px;
    width: 0;
    position: absolute;
    left: 53%;
    top: 115px;
}
#heading h4 {
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    color: #6255a5;
    margin-top: 20px;
}

ul.list {
    list-style: none;
}

.left-list ul.list li {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #333333;
}

.right-list ul.list li {
    
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    color: #6255a5;
}

.right-list ul.list li img {
    width: 15px;
}


.table {
    border: 1px solid #d1d1d1;
}

.table th {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #333333;
    text-transform: uppercase;
}
.table tr:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1)
}

.table tr {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: #333333; 
}

/* pagination */
nav {
    margin-top: 20px;
    margin-bottom: 20px;
}
ul.pagination li a{
    border: #fff;
    text-decoration: none;
    width: 34px;
    height: 34px;
    color: #333333;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

ul.pagination {
    justify-content: center;
}

ul.pagination li{
    padding: 5px;
}
ul.pagination li.active a{
    text-decoration: none;
    width: 34px;
    height: 34px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 50%;
    
}

.page-item.active .page-link {
    background-color: #6255a5;
}


li.left-arrow {
    margin-right: 15px;
}

li.right-arrow {
    margin-left: 15px;
}


footer {
    padding: 20px;
}

#footer p {
    margin-top: 10px;
}

/* dropdown */
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
}

.btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
}

.btn-secondary {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:hover {
    color: #fff;
    background-color: #fff;
    border-color: #fff;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.dropdown-menu a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #333333;
    line-height: 28px;
}

.dropdown-menu {
    border: #d1d1d1;
    border-radius: 3px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
}

.btn {
    padding: 0;
}